[submodule "third_party/googletest"]
	path = third_party/googletest
	url = ssh://git@git.agoralab.co/aduc/googletest.git
	branch = main
[submodule "third_party/libyuv"]
	path = third_party/libyuv
	url = ssh://git@git.agoralab.co/aduc/libyuv.git
	branch = main
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = ssh://git@git.agoralab.co/aduc/spdlog.git
	branch = v1.x
[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = ssh://git@git.agoralab.co/aduc/rapidjson.git
	branch = master
[submodule "third_party/json"]
	path = third_party/json
	url = ssh://git@git.agoralab.co/aduc/nlohmann.git
	branch = master
